[submodule "externals/JUCE"]
	path = externals/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "externals/libdsp"]
	path = externals/libdsp
	url = https://github.com/Segfault1602/libdsp.git
